/* home.css */

.inner-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inner-box-w {
  align-items: center;
  padding-left: 20%;
}

/* .heading{
    height: 20vh;
    color: #fff;
    font-size: larger;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: backgroundColorChange 25s linear infinite;
} */

hr{
  height: 50px;
  background-color: white;
}



.video-list {
  /* background-color: #000000; */
  /* background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 35%, rgba(0,108,255,1) 100%); */
  /* border-radius: none; */
  /* margin-left: 10%;
  margin-right: 10%; */
  background: url(../components/grid.png);
  animation: backgroundColorChange 25s linear infinite;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* padding: 80px; */
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  /* border-radius: 8px; */
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  overflow: hidden;
  width: 400px;
  height: 250px;
  ; /* Space between cards vertically */
 
}

h1{
  font-size: 50px;
  display: block;
}

.bid-container {
  display: flex;
  height: 100vh;
  background-color: black;
}

.video-section {
  flex: 1;
  height: 60%;
  width: 20%;
  padding: 6%;
  /* Optional: Add more styling as needed */
}



.content-section {
  flex: 1;
  /* Optional: Add more styling as needed */
}

.inner-content{

  background-color: #222;
 
  height: 70vh;
  margin: 12vh;
  width: 35vw;
  border: #6e42e5;
  display: flex;
  flex-direction: column;
  
  /* border-radius: 8px; */
}

.inner-text{

  position:relative;
  width: 93%;
  height: 70px;
  background-color: #000;
  padding: 10px;
  margin: 2%;


}
.inner-text-1{

  position:relative;
  width: 93%;
  height: 60px;
  background-color: #000;
  padding: 10px;
  margin: 2%;
  color: #fff;
  font-weight: 800;
  font-size: 23px;

  align-content: center;
  justify-content: center;


}
video {
  object-fit: cover; /* This will make the video cover the entire .video-section */
}

.button-2{
   
  border-radius: 30px;
  display: flex;
  float: right;
  width: 300px;
  justify-content: center;
   line-height: 140%;
   border-radius: 6px;
   background-color: #6e42e5;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   border-radius: 10px;
   margin: 4%;

   
 }


 @keyframes backgroundColorChange {
  0% {
    background-color: #ff5733; /* Color 1 */
  }
  25% {
    background-color: #33ff57; /* Color 2 */
  }
  50% {
    background-color: #5733ff; /* Color 3 */
  }
  75% {
    background-color: #ff5733; /* Color 4 */
  }
  100% {
    background-color: #33ff57; /* Color 5 */
  }
}

